:root{
  --principal:#1e90ff;
  --oscuro:#0f172a;
  --claro:#f1f5f9;
}

html, body{
  margin:0;
  padding:0;
  width:100%;
  font-family:Century Gothic;
}

.clear{ clear:both; }

/* MENU */
.menu{
  width:100%;
  background-color:var(--oscuro);
  position:fixed;
  text-align:center;
  z-index:999;
}

.menu ul{ padding:15px 0; }

.menu li{ display:inline-block; }

.menu a{
  color:white;
  text-decoration:none;
  padding:8px 25px;
  border:1px solid var(--principal);
  transition:.3s;
}

.menu a:hover{
  background-color:var(--principal);
}

/* HOME */
#conteneur-home{
  background:url("https://www.gadae.com/blog/wp-content/uploads/instalacion-informatica-empresa.jpg") center/cover fixed;
  padding:160px 0 100px;
  text-align:center;
  color:white;
}

/* ABOUT */
#conteneur-about {
  padding: 100px 0;
}

.about{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.profile-img {
  width: 220px;
  height: 220px;
  object-fit: cover;
  display: block;
  margin: 20px auto;
}

.profil-text{
  max-width: 600px;
}


/* SKILLS */
.skills,
.qualification,
.contact{
  max-width: 900px;
  margin: auto;
  text-align: center;
}

#conteneur-skills{ background:#eee; padding:100px 0; }
.progressbar{ background:#aaa; height:5px; margin-bottom:15px; }
.progressbar span{ display:block; height:5px; background:var(--principal); }
.bardiv{
  text-align: left;
}

.html{ width:40%; }
.css{ width:35%; }
.javascript{ width:50%; }
.php{ width:10%; }
.sql{ width:60%; }

/* PORTFOLIO */
#conteneur-portfolio{ background:#eee; padding:100px 0; }
.text-miniature{
  text-align: center;
  margin-top: 10px;
}
.conteneur-miniature-left,
.conteneur-miniature-right{
  display: inline-block;
  width: 45%;
  vertical-align: top;
  margin: 20px 2%;
}

.miniature-portfolio{
  width: 250px;
  height: 250px;
  margin: auto;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #f1f5f9;
}


.oneport{
  background-image: url("../img/entradaubm.jpeg");
}

.twoport{
  background-image: url("../img/CVgithub.png");
}

/* CONTACTO */
#conteneur-contact{
  background:url("https://images.unsplash.com/38/awhCbhLqRceCdjcPQUnn_IMG_0249.jpg") center/cover fixed;
  padding:100px 0;
  color:white;
}

.contact a{
  color:white;
  border-bottom:1px solid var(--principal);
  text-decoration:none;
}

.contact a:hover{ color:var(--principal); }

/* FOOTER */
#conteneur-footer{
  background:black;
  color:white;
  text-align:center;
  padding:15px;
}
/* CENTRADO GENERAL DEL CONTENIDO */
.about,
.skills,
.qualification,
.portfolio,
.contact{
  margin: 0 auto;
}

h1, h2{
  text-align: center;
}

p{
  text-align: justify;
}
.menu a.active{
  background-color: rgb(4, 61, 24);
}
.progressbar span{
  width: 0;
  transition: width 2.5s ease;
}


